.budgetField{
    width: 77%;
    display: inline-block;
}
.budgetValue{
    display: inline-block;
}
.submitAction{
    width: 10%;
}
.submitAction a{
    color: white;
    text-decoration: none;
}
.budgetField{
    width: 40%;
    margin: 0px auto;
}
 
.bg-image {
    background-image: url("../public/budget.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
}

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
}
li:hover{
    background-color: #ccc;
}
li{
    text-transform: capitalize;
}
input.numberField::-webkit-outer-spin-button,
input.numberField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.numberField[type=number] {
  -moz-appearance: textfield;
}